.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    width: 500px;
    height: 360px;
    align-items: center;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
}
.pass{
    margin-top: 20px;
    width: 253px;
    height: 39px;
}
.email{
    height: 39px;
    width: 254px;
    text-align: -webkit-left;
}
.forg{
    margin-top: 20px;
    width: 253px;
    height: 39px;
    margin-left: 306px;
    color: rgb(202, 123, 19);
}
button{
    height: 39px;
    width: 93px;
    background-color: #64af4c00;
    color: #030b0bc9;
    font-weight: bold;
    font-size: large;
}
.forg:hover{
    color: rgb(52, 104, 104);
}