H1{
    margin-left: 209px;
}
    


.a{
    margin-left: 57px;
}
.b{

    margin-left: 17px;
}
.c{
    margin-left: 57px;
}
.d{
    margin-left: 57px;
}
.e{
    margin-left: 57px;
}
.button{
    margin-left: 57px;
}
form{ 
    border: 2px solid black;
    
}

    

 .confirm{
    margin-left: 57ppx;
 }  
    