img{
    width:  295px;
    margin-left: 208px;
}
.a{
    margin-left: 31px;
}
.b{
    margin-left:31px;

}
.cr{
    word-spacing: 175px;
}
 .c{
    margin-left:  110px;
 }   
form{
    border: 2px solid black;
}
h1{
    margin-left: 208px;
}