form{
    border: 2px solid black;
}
h1{
    margin-left:  156px;
}
.a{
    margin-left: 57px;
}
.b{
    margin-left: 57px;
}
.c{
    margin-left: 58px;
}


.d{
    margin-left: 58px;
}
.na{
    margin-left:  29px;
}
.ad{
    margin-left: 57px;
}
.To{
    margin-left: 56px;
}
.cr{
    word-spacing: 175px;
}
.ee{
    margin-left: 57px;
}
.e{
    margin-left: 57px;
}
.button
    padding-left: 58px;
