.b{
    border: 2px solid black;
}
.img1{
    width: 282px;
    margin-left: 869px;
    margin-top: -177px;
}
.img2{
    width: 282px;
    margin-left: 869px;
    margin-top: -177px;
}
b{
    font-size: larger;
}